<div>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <span class="brand-logo">Puzzles</span>
        <ul class="right">
          <li><a href="#/puzzlesform/new">Create New Puzzle</a></li>
        </ul>

      </div>
    </nav>
  </div>
  <table class="striped centered" ng-controller="PuzzlesController as puzzlesController">
    <tr ng-repeat="puzzle in puzzlesController.puzzles">
      <td><img src="http://localhost:8000/{{puzzle.imageUrl}}" class="thumbnail"></td>
      <td>
        <a href="{{'#/puzzlesform/' + puzzle.id}}">Edit</a>
        |
        <a href="" ng-click="puzzlesController.click(puzzle.id)">Delete</a>
      </td>
    </tr>
  </table>
</div>
